#machine {
  background-color: gray;
  width: 550px;
  height:600px;
  border: 15px solid black;
  padding: 10px;
  margin-left:auto;
  margin-right:auto;
}

.items{
  display: inline-block;
  position:relative;
  margin:25px;
  float:left;
  background-color: lightgrey;
  width: 50px;
  height:20px;
  text-align:center;
  padding:35px;
  border: 5px solid black;
}

.tray{
  display: inline-block;
  margin:25px;
  background-color: black;
  width: 410px;
  height:20px;
  padding:35px;
  border: 5px solid black;
}

h2, div{
  text-align: center;
}
